header, footer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    text-align: center;
}